#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 7**
###**Red Neuronal Artificial - Perceptrón Multicapa : Multilayer Perceptrón (MLP)**

**Nombres y matrículas de los integrantes del equipo:**

*   
*   
*   
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [28]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, StandardScaler, LabelEncoder

from sklearn.impute import SimpleImputer

from sklearn.compose import ColumnTransformer

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#**Ejercicio-1.**

In [39]:
df = pd.read_csv('./Facebook_metrics/dataset_Facebook.csv', sep=';', engine='python')
new_columns = {'Lifetime People who have liked your Page and engaged with your post':'LPE'}
df.rename(columns=new_columns, inplace=True)
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,LPE,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [40]:
df = df[['Category', 'Page total likes', 'Type', 'Post Month', 'Post Hour', 'Post Weekday', 'Paid', 'LPE']].copy()
df.head()

,Category,Page total likes,Type,Post Month,Post Hour,Post Weekday,Paid,LPE
0,2,139441,Photo,12,3,4,0.0,119
1,2,139441,Status,12,10,3,0.0,1108
2,3,139441,Photo,12,3,3,0.0,132
3,2,139441,Photo,12,10,2,1.0,1386
4,2,139441,Photo,12,3,2,0.0,396

In [43]:
df['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [45]:
labelenconder = LabelEncoder()
type_encoded = labelenconder.fit_transform(df['Type'])
df['Type'] = type_encoded

In [46]:

df.describe()

,Category,Page total likes,Type,Post Month,Post Hour,Post Weekday,Paid,LPE
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.000000
mean,1.880000,123194.176000,1.074000,7.038000,7.840000,4.150000,0.278557,609.986000
std,0.852675,16272.813214,0.429993,3.307936,4.368589,2.030701,0.448739,612.725618
min,1.000000,81370.000000,0.000000,1.000000,1.000000,1.000000,0.000000,9.000000
25%,1.000000,112676.000000,1.000000,4.000000,3.000000,2.000000,0.000000,291.000000
50%,2.000000,129600.000000,1.000000,7.000000,9.000000,4.000000,0.000000,412.000000
75%,3.000000,136393.000000,1.000000,10.000000,11.000000,6.000000,1.000000,656.250000
max,3.000000,139441.000000,3.000000,12.000000,23.000000,7.000000,1.000000,4376.000000

#**Ejercicio-2.**

In [47]:
y = df['LPE']
X = df.loc[:, df.columns != 'LPE']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=100)

#**Ejercicio-3.**

In [48]:
def RMSE(y, yhat) -> float:
    return np.sqrt(np.mean(np.square(y - yhat)))

def MAE(y, yhat) -> float:
    return np.mean(np.absolute(yhat - y))

def MAPE(y, yhat) -> float:
    return np.mean(np.absolute((y - yhat) / y)) * 100

#**Ejercicio-4.**

In [53]:
"""
Category -> categorical
Page total likes -> numerical
Type -> categorical
Post Month -> discret
Post Hour -> discrete
Post Weekday -> discrete
Paid -> categorical (float)
LPE -> discrete
"""

categorical = ['Category', 'Post Month', 'Post Weekday', 'Post Hour', 'Paid', 'Type']

numerical = ['Page total likes']

X.describe()

,Category,Page total likes,Type,Post Month,Post Hour,Post Weekday,Paid
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000
mean,1.880000,123194.176000,1.074000,7.038000,7.840000,4.150000,0.278557
std,0.852675,16272.813214,0.429993,3.307936,4.368589,2.030701,0.448739
min,1.000000,81370.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,112676.000000,1.000000,4.000000,3.000000,2.000000,0.000000
50%,2.000000,129600.000000,1.000000,7.000000,9.000000,4.000000,0.000000
75%,3.000000,136393.000000,1.000000,10.000000,11.000000,6.000000,1.000000
max,3.000000,139441.000000,3.000000,12.000000,23.000000,7.000000,1.000000

In [54]:
X.dtypes

Category              int64
Page total likes      int64
Type                  int64
Post Month            int64
Post Hour             int64
Post Weekday          int64
Paid                float64
dtype: object

In [55]:
from math import remainder


numeric_pipeline = Pipeline(steps=[
  ('median', SimpleImputer(strategy='median')),
  ('scaling', StandardScaler())
])

categorical_pipeline = Pipeline(steps=[
  ('imputacionModa', SimpleImputer(strategy='most_frequent')),
])


oneHot_pipeline = Pipeline(steps=[
  ('oneHot', OneHotEncoder(drop='first'))
])

pipeline = ColumnTransformer(
  transformers=[
    ('numeric', numeric_pipeline, numerical),
    ('categoric', categorical_pipeline, categorical),
    ('oneHotEncoder', oneHot_pipeline, categorical)
  ],
  remainder='passthrough'
)

In [61]:
X_transformed = pipeline.fit_transform(X_train)

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

#**Ejercicio-7.**

In [ ]:
None

#**Ejercicio-8.**

In [ ]:
None

#**Ejercicio-9.**

In [ ]:
None

#**Ejercicio-10.**

In [ ]:
None

#**Ejercicio-11.**

In [ ]:
None

#**Ejercicio-12.**

In [ ]:
None

###**Fin de la Actividad de la semana 7.**